*{
    margin:0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 35px;
    padding-block: 20px;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}
.btn{
    margin: 30px auto;
    display: inline-block;
    padding: 10px 30px;
    background: hsl(0, 0%, 26%);
    color: white;
}

.container{
    margin-inline:auto;
    width: 90%;
    max-width: 820px;
}

.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    max-width: 100px;
}
.nav-title{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: clamp(15px, 4vw, 26px);
    border-bottom: 3px solid hsl(0, 0%, 73%);
}

.row{
    padding-block: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    align-items: center;
}
.centered{
    text-align: center;
}

.szinesznok{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:20px;
}
.name{
    text-align: center;
    font-weight: bold;
}

.actress{
    padding-block:50px;
}
.actress-name{
    padding-block:15px;
    border-bottom: 2px solid lightgrey;
}

.plays{
    list-style:inside;
}